.btn {
    border-radius: clamp(4px, 0.5vw, 6px);
    border: none;

    &.btn- {
    &default {
        min-width: clamp(64px, 20vw, 80px);
        height: clamp(33px, 4vw, 40px);
        background-color: #1A2933; // variables에 등록 예정
        color: #fff;
        font-size: calc(clamp(11px, 1.6vw, 12px) / 16 * 1rem);
        font-weight: 600;
        padding: clamp(8px, 2vw, 12px) clamp(16px, 5vw, 20px);

        &:active {
        background-color: #303030;
        }
        &:disabled {
        opacity: 0.4;
        cursor: not-allowed;
        }
    }

    &primary {
        width: 100%;
        height: clamp(46px, 6vw, 52px);
        background-color: #F05A39;
        color: #fff;
        font-size: calc(clamp(14px, 2.5vw, 16px) / 16 * 1rem);
        font-weight: 700;
        padding: clamp(12px, 3vw, 16px) clamp(16px, 5vw, 20px);

        &:disabled {
        opacity: 0.4;
        cursor: not-allowed;
        }
    }

    &secondary {
        width: 100%;
        height: clamp(40px, 5.5vw, 46px);
        background-color: #F05A39;
        color: #fff;
        font-size: calc(clamp(14px, 2.5vw, 16px) / 16 * 1rem);
        font-weight: 700;
        padding: clamp(12px, 3vw, 16px) clamp(16px, 5vw, 20px);

        &:disabled {
        opacity: 0.4;
        cursor: not-allowed;
        }
    }

    &third {
        width: 100%;
        height: clamp(40px, 5.5vw, 46px);
        background-color: #4D6375;
        color: #fff;
        font-size: clamp(14px, 2vw, 16px);
        font-weight: 700;

        &:disabled {
        opacity: 0.4;
        cursor: not-allowed;
        }
    }

    

    &close {
        width: 100%;
        height: clamp(40px, 5.5vw, 46px);
        background-color: #F1F1F1;
        color: #000;
        font-size: calc(clamp(14px, 2.5vw, 16px) / 16 * 1rem);
        font-weight: 700;
        padding: clamp(12px, 3vw, 16px) clamp(16px, 5vw, 20px);

        &:disabled {
        opacity: 0.4;
        cursor: not-allowed;
        }
    }
    }
}

.like-button {
    display: flex;
    align-items: center;
    justify-content:flex-end;
    gap: clamp(2px, 1vw, 6px);
    cursor: pointer;

    span {
    font-size: clamp(14px, 2.5vw, 16px);
    font-weight: 500;
    }

    img {
    transition: transform 0.2s ease;
    }

    &:active img {
    transform: scale(1.2);
    }
}